extends layout/layout

block head
	- var title = "Anasayfa";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";

block content

	section.fullscreen.mainSliderWrapper.notOpacity
		.sliderOverlay
		.mainSlider.centerfix
			ul.slides
				li(style="background-image: url(" + prefix + "/img/content/slider/1.jpg)")
		.content
			h1.pageTitle Our Portfolio
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

	section.centerfix.fullscreen.dTable.portfolioList
		- for (var i=0; i < 8; i++)
			.portfolioItem
				img(src=prefix + "/img/content/fintech-icon.png")
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				a.link(href="#") VISIT WEB SITE
					img(src=prefix + "/img/icon-arrow-right-orange-small.png")


	section.centerfix.subOrangeManshet.text-center
		.container
			h4.title.title-primary BÜYÜMEK İÇİN TEK İHTİYACINIZ OLAN ŞEY YATIRIM MI?
			p Fikrinizi ve işinizi büyütmek istiyorsanız, size değer katmak için hazırız.
			a.goToPage(href="#")
				img(src=prefix + "/img/icon-arrow-right-white.png")


block scripts
	script.
		console.log('custom js')