extends layout/layout

block head
	- var title = "Girişimciye Kattıklarımız";
	- var description = "Girişimciye Kattıklarımız";
	- var keywords = "Girişimciye Kattıklarımız";

block content

	section.fullscreen.mainSliderWrapper.notOpacity
		.sliderOverlay
		.mainSlider.centerfix
			ul.slides
				li(style="background-image: url(" + prefix + "/img/content/our-supports/slide-img.jpg)")
		.content
			h1.pageTitle Fikiron değer katar!
			//p Yeteneği ve fikri erken keşfeden Fikiron, ilk günde kurduğu yakınlığı ‘unicorn’ zamanı geldiğinde de hissettirir –

	<!-- LİSTE BAŞLANGIÇ -->
	section.fullscreen.centerfix.ourSupportsItem.whiteSection
		.imageBlock.fullscreen(style="background-image: url(" + prefix + "/img/content/our-supports/mentorluk-is-bilgisi.jpg)")
			.centerBlock
				h2.anim.anim-1.title.title-third.title-white.title-line-height MENTORLUK VE İŞ BİLGİSİ <br>(PAZARLAMA, İŞ MODELLEMESİ, İŞ GELİŞTİRME)

		.itemContent.fullscreen.dTable
			.vMiddle
				h3.anim.anim-4.title.title-second xxxxxxxxx
				p.anim.anim-5 Yxxxxxxxxxx


	section.fullscreen.centerfix.ourSupportsItem.whiteSection
		.itemContent.fullscreen.dTable
			.vMiddle
				h3.anim.anim-4.title.title-second xxxxxxxxx
				p.anim.anim-5 Yxxxxxxxxxx

		.imageBlock.fullscreen(style="background-image: url(" + prefix + "/img/content/our-supports/ofis-ek-ik.jpg)")
			.centerBlock
				h2.anim.anim-1.title.title-third.title-white.title-line-height OFİS VE EK İNSAN KAYNAKLARI

	section.fullscreen.centerfix.ourSupportsItem.whiteSection
		.imageBlock.fullscreen(style="background-image: url(" + prefix + "/img/content/our-supports/yatirimci-aglari.jpg)")
			.centerBlock
				h2.anim.anim-1.title.title-third.title-white.title-line-height YATIRIMCI AĞLARINA VE GLOBALE TAŞIMAK

		.itemContent.fullscreen.dTable
			.vMiddle
				h3.anim.anim-4.title.title-second xxxxxxxxx
				p.anim.anim-5 Yxxxxxxxxxx


	section.fullscreen.centerfix.ourSupportsItem.whiteSection
		.itemContent.fullscreen.dTable
			.vMiddle
				h3.anim.anim-4.title.title-second xxxxxxxxx
				p.anim.anim-5 Yxxxxxxxxxx

		.imageBlock.fullscreen(style="background-image: url(" + prefix + "/img/content/our-supports/musteri-kazandirmak.jpg)")
			.centerBlock
				h2.anim.anim-1.title.title-third.title-white.title-line-height MÜŞTERİ KAZANDIRMAK (NETWORK)

	<!-- LİSTE BİTİŞ -->


	section.centerfix.subOrangeManshet.text-center
		.container
			a(href="yatirim-basvurusu.html")
				h4.title.title-primary BÜYÜMEK İÇİN TEK İHTİYACINIZ OLAN ŞEY YATIRIM MI?
			p Fikrinizi ve işinizi büyütmek istiyorsanız, size değer katmak için hazırız.
			a.goToPage(href="yatirim-basvurusu.html")
				img(src=prefix + "/img/icon-arrow-right-white.png")


block scripts
	script.
		console.log('custom js')