extends layout/layout

block head
	- var title = "Hakkımızda";
	- var description = "Hakkımızda";
	- var keywords = "Hakkımızda";

block content

	section.fullscreen.mainSliderWrapper.notOpacity
		.sliderOverlay
		.mainSlider.centerfix
			ul.slides
				li(style="background-image: url(" + prefix + "/img/content/about-us/slide-img.jpg)")
		.content
			h1.pageTitle Büyük fikirler yüksekten uçar
			//p Yeteneği ve fikri erken keşfeden Fikiron, ilk günde kurduğu yakınlığı ‘unicorn’ zamanı geldiğinde de hissettirir –


	section.centerfix.dTable.aboutUs.whiteSection
		.container
			.layoutLeftContent.fullscreen.dTable
				.vMiddle
					//h1.title.title-second.title-line-height Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					p Fikiron, grafikte konumlanmış bölge olan tohum aşaması ile erken aşama aralığındaki girişimlere yatırım yapar. Yani, iş fikrinin  ve MVP’nin olduğu, fatura kesmeye başlayan veya başlamak üzere olan, henüz FFF haricinde maksimum 1 tane tohum yatırımı kapamış startup’lardır.

			.layoutRightContent.dTable.fullscreen
				.vMiddle
					img.img-responsive(src=prefix + "/img/content/about-us/graphic.png")

	section.centerfix.fullscreen.whiteSection
		.centerfix.fullscreen
			.numberOfWorks
				.centerContent
					.number 15
						small ADET
						.plus +
					p Yapılan Yatırım Sayısı
			.numberOfWorks
				.centerContent
					.number ₺300
						small MİLYON
						.plus +
					p Toplam Portföy Değeri
			.numberOfWorks
				.centerContent
					.number $1
						small MİLYON
						.plus +
					p Yönetilen para miktarı

	section.fullscreen.centerfix.sectionSlider.leftContent.noControlNav.ownerSlogans
		ul.slides
			li
				.imageBlock(style="background-image: url(" + prefix + "/img/content/team/1.jpg)")
					.centerBlock
						h2.anim.anim-1.title.title-primary ALPER AYDIN
						p.anim.anim-2 Kurucu Ortak
				.slideContent.dTable
					.vMiddle
						img.anim.anim-3.icon(src=prefix + "/img/content/quotes-icon.png")
						//h3.anim.anim-4.title.title-second FİKİRON BİR GİRİŞİMCİNİN EN DEĞERLİ <span>YOL ARKADAŞIDIR. </span>
						p.anim.anim-5 Fikiron olarak gelecek vaad eden fikirleri keşfediyor, onlara bilgimizle, networkümüzle, pazarlama yeteneklerimiz ve finansal gücümüzle değer katıyoruz.
			li
				.imageBlock(style="background-image: url(" + prefix + "/img/content/team/2.jpg)")
					.centerBlock
						h2.anim.anim-1.title.title-primary MUSTAFA SANDAL
						p.anim.anim-2 Kurucu Ortak
				.slideContent.dTable
					.vMiddle
						img.anim.anim-3.icon(src=prefix + "/img/content/quotes-icon.png")
						//h3.anim.anim-4.title.title-second FİKİRON BİR GİRİŞİMCİNİN EN DEĞERLİ <span>YOL ARKADAŞIDIR. </span>
						p.anim.anim-5 Fikiron fikrin ruhunu tetikler, girişimin ve girişimcinin özüne iner, parlatarak değer katmak için iş tecrübesini, çevresini, pazarlama kaslarını ve maddi destek imkanını daha parlak bir Türkiye için ortaya koyar.

			li
				.imageBlock(style="background-image: url(" + prefix + "/img/content/team/3.jpg)")
					.centerBlock
						h2.anim.anim-1.title.title-primary ALPAY ALPTEKİN
						p.anim.anim-2 Yönetim Kurulu Başkanı ve Yönetici Ortak
				.slideContent.dTable
					.vMiddle
						img.anim.anim-3.icon(src=prefix + "/img/content/quotes-icon.png")
						//h3.anim.anim-4.title.title-second Fikiron bir girişimcinin en değerli <span>yol arkadaşıdır. </span>
						p.anim.anim-5 Fikiron, hayalinizi gerçeğe, gerçeğinizi hayalinize dönüştürür.

			li
				.imageBlock(style="background-image: url(" + prefix + "/img/content/team/4.jpg)")
					.centerBlock
						h2.anim.anim-gulp1.title.title-primary YALÇIN SİSA
						p.anim.anim-2 Yönetim Kurulu Üyesi
				.slideContent.dTable
					.vMiddle
						img.anim.anim-3.icon(src=prefix + "/img/content/quotes-icon.png")
						//h3.anim.anim-4.title.title-second FİKİRON BİR GİRİŞİMCİNİN EN DEĞERLİ <span>YOL ARKADAŞIDIR. </span>
						p.anim.anim-5 Fikiron girişimcilik ekosistemine kaldıraç etkisi yaratmak için vardır.


	section.centerfix.subOrangeManshet.text-center
		.container
			a(href="yatirim-basvurusu.html")
				h4.title.title-primary BÜYÜMEK İÇİN TEK İHTİYACINIZ OLAN ŞEY YATIRIM MI?
			p Fikrinizi ve işinizi büyütmek istiyorsanız, size değer katmak için hazırız.
			a.goToPage(href="yatirim-basvurusu.html")
				img(src=prefix + "/img/icon-arrow-right-white.png")


block scripts
	script.
		console.log('custom js')