extends layout/layout

block head
	- var title = "İletişim";
	- var description = "İletişim";
	- var keywords = "İletişim";

block content

	section.fullscreen.mainSliderWrapper.notOpacity
		.sliderOverlay
		.mainSlider.centerfix
			ul.slides
				li(style="background-image: url(" + prefix + "/img/content/contact/slide-img.jpg)")
		.content
			h1.pageTitle Fikiron bir girişimcinin en değerli yol arkadaşıdır.
			p Yeteneği ve fikri erken keşfeden Fikiron, ilk günde kurduğu yakınlığı ‘unicorn’ zamanı geldiğinde de hissettirir –

	section.centerfix.contactPage.whiteSection.text-center
		.container
			a.title.title-third.title-black.title-line-height(href="tel:+9002122004050") +90(212) 200 40 50
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			a.link(href="mailto:info@fikiron.com") info@fikiron.com

	section.centerfix.contactPage.whiteSection
		.container
			.layoutLeftContent
				h1.title.title-second.title-line-height NEREDEYİZ?
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. BEŞİKTAŞ / İSTANBUL
				iframe#map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12036.572493383901!2d28.99324524453744!3d41.04399911875342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab7a02dde1ee7%3A0xc2a9388a2a080c63!2zQmXFn2lrdGHFnywgU2luYW5wYcWfYSBNYWhhbGxlc2ksIDM0MzUzIEJlxZ9pa3RhxZ8vxLBzdGFuYnVs!5e0!3m2!1str!2str!4v1526811910047" frameborder="0" allowfullscreen)

			.layoutRightContent
				h2.title.title-second.title-line-height HIZLI GERİ DÖNÜŞE HAZIR OLUN
				form.form
					label
						input(type="text", name="name", class="required")
						span Ad Soyad

					label
						input(type="text", name="email", class="required")
						span Eposta

					label
						input(type="text", name="phone", class="required")
						span Telefon

					label.textarea
						textarea(name="message", class="required")
						span Mesajınız

					button.button.button-primary(type="submit")
						img(src=prefix + "/img/icon-arrow-right-white-small.png")
						| GÖNDER

block scripts
	script.
		$(".form").validate({
			errorLabelContainer: "#messageBox",
			highlight: function (element, errorClass, validClass) {
				$(element)
					.parents("label")
					.addClass("error")
					.removeClass("success");
			},
			unhighlight: function (element, errorClass, validClass) {
				$(element)
					.parents("label")
					.addClass("success")
					.removeClass("error");
			},
			rules: {
				// simple rule, converted to {required:true}
				name: "required",
				// compound rule
				email: {
					required: true,
					email: true
				},
				phone: "required",
				message: "required"
			},
			submitHandler: function (form) {
				// some other code
				// maybe disabling submit button
				// then:
				$(form).submit();
			}
		});


	script(type="text/javascript" async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgofDeTFIJQDg-x--vBU_DQXTEVvqRO_8&amp;callback=initMap")
	script.
		function initMap() {
		var map = new google.maps.Map(document.getElementById('map'), {
		center: {lat: 40.674, lng: -73.945},
		zoom: 12,
		styles: [
		{
		"featureType": "administrative",
		"elementType": "labels.text.fill",
		"stylers": [
		{
		"color": "#6195a0"
		}
		]
		},
		{
		"featureType": "landscape",
		"elementType": "all",
		"stylers": [
		{
		"color": "#f2f2f2"
		}
		]
		},
		{
		"featureType": "landscape",
		"elementType": "geometry.fill",
		"stylers": [
		{
		"color": "#ffffff"
		}
		]
		},
		{
		"featureType": "poi",
		"elementType": "all",
		"stylers": [
		{
		"visibility": "off"
		}
		]
		},
		{
		"featureType": "poi.park",
		"elementType": "geometry.fill",
		"stylers": [
		{
		"color": "#e6f3d6"
		},
		{
		"visibility": "on"
		}
		]
		},
		{
		"featureType": "road",
		"elementType": "all",
		"stylers": [
		{
		"saturation": -100
		},
		{
		"lightness": 45
		},
		{
		"visibility": "simplified"
		}
		]
		},
		{
		"featureType": "road.highway",
		"elementType": "all",
		"stylers": [
		{
		"visibility": "simplified"
		}
		]
		},
		{
		"featureType": "road.highway",
		"elementType": "geometry.fill",
		"stylers": [
		{
		"color": "#f4d2c5"
		},
		{
		"visibility": "simplified"
		}
		]
		},
		{
		"featureType": "road.highway",
		"elementType": "labels.text",
		"stylers": [
		{
		"color": "#4e4e4e"
		}
		]
		},
		{
		"featureType": "road.arterial",
		"elementType": "geometry.fill",
		"stylers": [
		{
		"color": "#f4f4f4"
		}
		]
		},
		{
		"featureType": "road.arterial",
		"elementType": "labels.text.fill",
		"stylers": [
		{
		"color": "#787878"
		}
		]
		},
		{
		"featureType": "road.arterial",
		"elementType": "labels.icon",
		"stylers": [
		{
		"visibility": "off"
		}
		]
		},
		{
		"featureType": "transit",
		"elementType": "all",
		"stylers": [
		{
		"visibility": "off"
		}
		]
		},
		{
		"featureType": "water",
		"elementType": "all",
		"stylers": [
		{
		"color": "#eaf6f8"
		},
		{
		"visibility": "on"
		}
		]
		},
		{
		"featureType": "water",
		"elementType": "geometry.fill",
		"stylers": [
		{
		"color": "#eaf6f8"
		}
		]
		}
		]
		});
		}