extends layout/layout

block head
	- var title = "Anasayfa";
	- var description = "Anasayfa description";
	- var keywords = "fikiron";

block content

	section.fullscreen.mainSliderWrapper
		.sliderOverlay
		.mainSlider.centerfix
			ul.slides
				li(style="background-image: url(" + prefix + "/img/content/slider/1.jpg)")
				li(style="background-image: url(" + prefix + "/img/content/slider/2.jpg)")
				li(style="background-image: url(" + prefix + "/img/content/slider/3.jpg)")
				li(style="background-image: url(" + prefix + "/img/content/slider/4.jpg)")
				li(style="background-image: url(" + prefix + "/img/content/slider/5.jpg)")
				li(style="background-image: url(" + prefix + "/img/content/slider/6.jpg)")

		ul.slideTexts.slide-1
			li(onclick="$('.mainSlider').flexslider(0)") BIG DATAYA DEĞER KATAR.
			li(onclick="$('.mainSlider').flexslider(1)") BLOCKCHAIN'E DEĞER KATAR.
			li(onclick="$('.mainSlider').flexslider(2)") İŞ BİLGİSİ KATAR.
			li(onclick="$('.mainSlider').flexslider(3)") DIGITAL CONTENT'E DEĞER KATAR.
			li(onclick="$('.mainSlider').flexslider(4)") E-COMMERCE'E DEĞER KATAR.
			li(onclick="$('.mainSlider').flexslider(5)") INNOVATION'A DEĞER KATAR.


	section.fullscreen.centerfix.manshetBlock
		.content
			h3.title.title-primary <span>FİKİRON,</span> SİZE DEĞER KATAR.
			p Yatırımcıysanız, doğru fırsatları karşınıza çıkararak portföyünüze değer katarız. Girişimciyseniz, fikrinizi geliştirip size dünya çapında değer katarız. Hayalinizi gerçeğe, gerçeğinizi hayalinize dönüştürürüz.
			a.moreButton(href="hakkimizda.html") +

	section.centerfix.fullscreen.dTable.servicesSection
		.vMiddle.servicesItem
			img(src=prefix + "/img/content/fintech-icon.png")
			h3.title.title-primary.title-line-height FINTECH
			p Fikiron olarak, Blockchain teknolojisi başta olmak üzere, yeni teknolojileri kullanarak, finansal hizmetlere herkesin, her yerden ve çok daha kolay ulaşımını sağlamak amaçlı çözümler geliştiyoruz. Coiny uygulamamız ile Türkiye’nin en kolay, en hızlı, en güvenilir crypto currency işlemlerini gerçekleştiriyoruz.
		.vMiddle.servicesItem
			img(src=prefix + "/img/content/bigdata-icon.png")
			h3.title.title-primary.title-line-height BIG DATA & ADTECH
			p Günümüzde şirketlerin bir numaralı odağı Big Data. Her sektörde, elindeki veriyi doğru kullanan şirket büyük fark yaratacak. Fikiron’un 1DMP (Data Management Platform)’u   sayesinde şirketlerin iç ve dış data kaynaklarını bir araya getiriyoruz, anlamlandırıyoruz ve iş sonuçlarını arttıracak iç görüleri sağlıyoruz.
		.vMiddle.servicesItem
			img(src=prefix + "/img/content/e-commerce-icon.png")
			h3.title.title-primary.title-line-height E-COMMERCE & MARKETPLACE
			p E-ticaret sitelerinin ve market yeri çözümlerinin pazardaki paylarını giderek artırdığı son 7 senede, bu alanda yapılan yatırımların daha hızlı geri dönüşü olduğunu gözlemliyoruz. Fikiron olarak bu alanda da yeni projeler geliştiriyoruz.
		.vMiddle.servicesItem
			img(src=prefix + "/img/content/innovation-icon.png")
			h3.title.title-primary.title-line-height INNOVATION & INCUBATION
			p Inovasyonun tüm süreçlerine olan hakimiyetimiz sayesinde, çoklu inovasyon projelerini yönetebilecek mükemmeliyet seviyesine ulaştık.  Bu uzmanlığımızı sergileyeceğimiz Türkiye’nin en büyük Teknoloji ve Inovasyon Merkezi’nin çok yakında açıklayacağız.
		.vMiddle.servicesItem
			img(src=prefix + "/img/content/digital-icon.png")
			h3.title.title-primary.title-line-height DIGITAL CONTENT
			p Hayatımızın her anını kaplayan dijital ekranlar sayesinde artık çok daha fazla içerik tüketiyoruz. Fikiron olarak, bünyemizdeki Farq Content Empire ve Bubi Animasyon gibi 2 prodüksiyon şirketi ile çizgi film projeleri, TV Programları ve uzun metraj sinema filmleri üretiyoruz. Portföyümüzde yer alan yazılım ajansımız Frank da, şirketlere ve markalara yazılım hizmeti sunuyor, göz alıcı websiteleri ve uygulamalar üretiyor.


	section.centerfix.fullscreen.whiteSection
		.centerfix.fullscreen
			.numberOfWorks
				.centerContent
					.number 15
						small ADET
						.plus +
					p Yapılan Yatırım Sayısı
			.numberOfWorks
				.centerContent
					.number ₺300
						small MİLYON
						.plus +
					p Toplam Portföy Değeri
			.numberOfWorks
				.centerContent
					.number $1
						small MİLYON
						.plus +
					p Yönetilen para miktarı

	section.fullscreen.centerfix.sectionSlider.rightContent.darkSlider
		ul.slides
			li
				.slideContent
					.centerBlock
						img.anim.anim-1.logo(src=prefix + "/img/content/references/coiny.png")

				.imageBlock.dTable(style="background-image: url("+ prefix + "/img/content/references/coiny-img.png)")
					.centerBlock
						p.anim.anim-1 Kripto para almanın en güvenilir, en kolay ve en hızlı yolunu sunan bir mobil uygulamadır.
						h5.anim.anim-2.title.title-primary COINY
			li
				.slideContent
					.centerBlock
						img.anim.anim-1.logo(src=prefix + "/img/content/references/1dmp.png")

				.imageBlock.dTable(style="background-image: url(" + prefix + "/img/content/references/1dmp-img.png)")
					.centerBlock
						p.anim.anim-1 Data Management Platform (DMP), big data konusunda en gelişmiş çözüm. Şirketlerin birincil datasını derleyen, anlamlandıran ve yorumlayan 1DMP, tekilleştirilmiş verileri ikincil ve üçüncül data kaynakları ile birleştirerek, pazarlama eforlarına hem etkinlik, hem de verimlilik kazandırır.
						h5.anim.anim-2.title.title-primary 1DMP
			li
				.slideContent
					.centerBlock
						img.anim.anim-1.logo(src=prefix + "/img/content/references/ringpara.png")

				.imageBlock.dTable(style="background-image: url(" + prefix + "/img/content/references/ringpara-img.png)")
					.centerBlock
						p.anim.anim-1 Micro-lokasyon, gerçek zamanlı pazarlama, big data yönetimi gibi modern pazarlamanın bütün yetkinliklerini aynı anda kullanarak, markaları müşterileri ile buluşturan Harikalar Dünyası, Türkiye Pazarlama Dünyasının en önemli ürünü olmaya aday.
						h5.anim.anim-2.title.title-primary Harikalar Dünyası
			li
				.slideContent
					.centerBlock
						img.anim.anim-1.logo(src=prefix + "/img/content/references/frank.png")

				.imageBlock.dTable(style="background-image: url(" + prefix + "/img/content/references/frank-img.png)")
					.centerBlock
						p.anim.anim-1 Web ve mobil uygulamalar geliştiren, UX/UI tasarım hizmetleri veren, şirketlerin dijital ihtiyaçlarına yönelik özel çözümler sunan bir yazılım evidir.
						h5.anim.anim-2.title.title-primary FRANK

	section.centerfix.subOrangeManshet.text-center
		.container
			a(href="yatirim-basvurusu.html")
				h4.title.title-primary BÜYÜMEK İÇİN TEK İHTİYACINIZ OLAN ŞEY YATIRIM MI?
			p Fikrinizi ve işinizi büyütmek istiyorsanız, size değer katmak için hazırız.
			a.goToPage(href="yatirim-basvurusu.html")
				img(src=prefix + "/img/icon-arrow-right-white.png")
