extends layout/layout

block head
	- var title = "Portföy";
	- var description = "Portföy";
	- var keywords = "Portföy";

block content

	section.fullscreen.mainSliderWrapper.notOpacity
		.sliderOverlay
		.mainSlider.centerfix
			ul.slides
				li(style="background-image: url(" + prefix + "/img/content/partners/slide-img.jpg)")
		.content
			h1.pageTitle Fikiron olarak, ortaklarımıza ve müşterilerimize de değer katıyoruz.
			//p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

	section.centerfix.fullscreen.dTable.portfolioList
		- var portfoy = [];
		- portfoy.push({href: 'http://www.bubiajans.com/', logo: 'bubi', content: 'En yeni teknolojileri kullanan kreatif bir animasyon ve prodüksiyon ajansıdır.'});
		- portfoy.push({href: 'http://frank.com.tr/', logo: 'frank', content: 'Web ve mobil uygulamalar geliştiren, UX/UI tasarım hizmetleri veren, şirketlerin dijital ihtiyaçlarına yönelik özel çözümler sunan bir yazılım evidir.'});
		- portfoy.push({href: 'https://coiny.io/home', logo: 'coiny', content: 'Kripto para almanın en güvenilir, en kolay ve en hızlı yolunu sunan bir mobil uygulamadır.'});
		- portfoy.push({href: 'https://1dmp.io/', logo: '1DMP', content: 'Data Management Platform (DMP), big data konusunda en gelişmiş çözüm. Şirketlerin birincil datasını derleyen, anlamlandıran ve yorumlayan 1DMP, tekilleştirilmiş verileri ikincil ve üçüncül data kaynakları ile birleştirerek, pazarlama eforlarına hem etkinlik, hem de verimlilik kazandırır.'});
		- portfoy.push({href: '#', logo: 'binyil-bey', content: 'Çocuklarımıza bilimi sevdirecek, fizik, kimya, biyoloji gibi temel bilimsel kavramları öğretecek yepyeni bir  çizgi film. Tarihimizin altın sayfaları arasında dolaşan ve başarılarımızda bilimin katkısının altını çizecek olan Binyıl Bey’i çocukların çok seveceğine eminiz. \n'});
		- portfoy.push({href: '#', logo: 'han', content: 'Birçok kripto para birimini güvenli, hızlı ve kolay bir şekilde alıp satabileceğiniz Türkiye’nin yeni borsasıdır.'});
		- portfoy.push({href: '#', logo: 'turkiye-4-0', content: 'Türkiye Cumhuriyeti’nin dijital dönüşümünü sağlayacak projeleri yaratır, yönetir ve hayata geçiririz.'});
		- portfoy.push({href: '#', logo: 'harikalar-dunyasi', content: 'Micro-lokasyon, gerçek zamanlı pazarlama, big data yönetimi gibi modern pazarlamanın bütün yetkinliklerini aynı anda kullanarak, markaları müşterileri ile buluşturan Harikalar Dünyası, Türkiye Pazarlama Dünyasının en önemli ürünü olmaya aday.'});
		- portfoy.push({href: 'http://ringpara.com/', logo: 'ringpara', content: 'Kişi, zaman, lokasyon bazlı hedefleme yaparak markaları hedef kitleleri ile doğrudan buluşturan Ringpara, lazer odaklanma yapmak isteyen tüm pazarlama planlarının ayrılmaz bir parçası olacak. Telefonunuzu size ait bir reklam mecrasına dönüştürüp, siz arandıkça size para kazandırması özelliği sayesinde bundan sonra telefonunuz boşa çalmayacak.'});
		- portfoy.push({href: 'https://www.manibux.com/', logo: 'manibux', content: 'Çocukların harçlık yönetimini hem ebeveynlerin kontrolü hem de kendi kontrolleri ile yapabildikleri mobil uygulama odaklı ödeme ve harçlık yönetim sistemidir.'});
		- portfoy.push({href: 'https://www.jestiniyap.com/', logo: 'jestiniyap', content: '‘Gift Startup’ piyasasının öncü oyuncularından Jestiniyap, Miles & Smiles iş birliği ile sevdiklerinize anında hediye gönderebildiğiniz, gönderirken uçuş mili kazandıran uygulamadır.'});
		- portfoy.push({href: '#', logo: 'secondzUp', content: 'Müzik yeteneğini göstererek ünlü olmak isteyen binlerce genci, yeni yetenek keşfedip güzel müzik dinlemek isteyen milyonlarla buluşturacak olan SecondzUp’ta başarılı olan müzisyenlere ortağımız Doğan Music Company ile birlikte prodüksiyon yapıyoruz.'});

		- for (var i=0; i < portfoy.length-1; i++)
			.portfolioItem
				.card__face.card__face--front
					.logo(style="background-image: url('" + prefix + "/img/content/portfolio/logo-" + portfoy[i].logo + ".png')")
				.card__face.card__face--back
					.logo(style="background-image: url('" + prefix + "/img/content/portfolio/logo-" + portfoy[i].logo + ".png')")
					p= portfoy[i].content
					a.link(href=portfoy[i].href, target="_blank") VISIT WEB SITE
						img(src=prefix + "/img/icon-arrow-right-orange-small.png")


	section.centerfix.subOrangeManshet.text-center
		.container
			a(href="yatirim-basvurusu.html")
				h4.title.title-primary BÜYÜMEK İÇİN TEK İHTİYACINIZ OLAN ŞEY YATIRIM MI?
			p Fikrinizi ve işinizi büyütmek istiyorsanız, size değer katmak için hazırız.
			a.goToPage(href="yatirim-basvurusu.html")
				img(src=prefix + "/img/icon-arrow-right-white.png")


block scripts
