extends layout/layout

block head
	- var title = "Portfoy";
	- var description = "Portfoy";
	- var keywords = "Portfoy";

block content
	section.fullscreen.mainSliderWrapper.notOpacity
		.sliderOverlay
		.mainSlider.centerfix
			ul.slides
				li(style="background-image: url(" + prefix + "/img/content/portfolio/slide-img.jpg)")
		.content
			h1.pageTitle Yatırım yaptığımız değerlere, kişilere ve fikirlere değer katıyoruz.
			//p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

	section.centerfix.fullscreen.dTable.portfolioList.noHover
		- for (var i=1; i < 7; i++)
			.portfolioItem.noHover
				a(href="#")
					.logo(style="background-image: url('" + prefix + "/img/content/partners/logo-" + i + ".png')")



	section.centerfix.subOrangeManshet.text-center
		.container
			a(href="yatirim-basvurusu.html")
				h4.title.title-primary BÜYÜMEK İÇİN TEK İHTİYACINIZ OLAN ŞEY YATIRIM MI?
			p Fikrinizi ve işinizi büyütmek istiyorsanız, size değer katmak için hazırız.
			a.goToPage(href="yatirim-basvurusu.html")
				img(src=prefix + "/img/icon-arrow-right-white.png")


block scripts
