extends layout/layout

block head
	- var title = "Sık Sorulan Sorular";
	- var description = "Sık Sorulan Sorular";
	- var keywords = "Sık Sorulan Sorular";
	- var isWhitePage = true;
	- var noPadding = true;

block content

	section.centerfix.staticPage.whiteSection.text-center
		.container
			h1.title.title-third.title-black.title-line-height Sık Sorulan Sorular

			dl.faqList.centerfix
				-for (var i = 0; i < 5; i++)
					dt
						h3.title.title-second.title-no-upper.title-line-height Lorem ipsum dolar?
					dd
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ullamcorper porttitor orci. Morbi placerat in libero vulputate ultricies. Ut id mauris justo. Mauris augue odio, condimentum nec lorem ac, vulputate laoreet sem. Praesent sit amet magna malesuada, tempor leo quis, pellentesque nisi.


