extends layout/layout

block head
	- var title = "Ekibimiz";
	- var description = "Ekibimiz";
	- var keywords = "Ekibimiz";

block content

	section.fullscreen.mainSliderWrapper.notOpacity
		.sliderOverlay
		.mainSlider.centerfix
			ul.slides
				li(style="background-image: url(" + prefix + "/img/content/team/slide-img.jpg)")
		.content
			h1.pageTitle Türkiye’ye değer katmak isteyenlerin bir araya geldiği genç ve dinamik bir takımız.
			//p Our experience supports and amplifies companies over their lifespan

	section.centerfix.dTable.teamList.fullscreen
		- var teams = [{'name': 'Alper Aydın', 'title': 'Kurucu Ortak'},{'name': 'Mustafa Sandal', 'title': 'Kurucu Ortak'},{'name': 'Alpay Alptekin', 'title': 'Yönetim Kurulu Başkanı ve Yönetici Ortak'},{'name': 'Yalçın Sisa', 'title': 'Yönetim Kurulu Üyesi'},{'name': 'Ahmet Uruç', 'title': 'Kurucu Ortak'},{'name': 'Kerem Mergen', 'title': 'İş Geliştirme Direktörü'},{'name': 'Duygu Alptekin', 'title': 'Pazarlama Direktörü'},{'name': 'Amie Kendall', 'title': 'Dijital Programlar Direktörü'}]
		each person, i in teams
			- var index = i;
			.teamItem
				a(href="takim-detay.html#" + i)
					img(src=prefix + "/img/content/team/" + (index+1) + ".jpg")
					.info
						span.name= person.name
						span.position= person.title


	section.centerfix.subOrangeManshet.text-center
		.container
			a(href="yatirim-basvurusu.html")
				h4.title.title-primary BÜYÜMEK İÇİN TEK İHTİYACINIZ OLAN ŞEY YATIRIM MI?
			p Fikrinizi ve işinizi büyütmek istiyorsanız, size değer katmak için hazırız.
			a.goToPage(href="yatirim-basvurusu.html")
				img(src=prefix + "/img/icon-arrow-right-white.png")


block scripts
