extends layout/layout
block head
	- var noPadding = true
	- var title = "Ekibimiz";
	- var description = "Ekibimiz";
	- var keywords = "Ekibimiz";

block content
	- var teams = [{'name': 'Alper Aydın', 'title': 'Kurucu Ortak'},{'name': 'Mustafa Sandal', 'title': 'Kurucu Ortak'},{'name': 'Alpay Alptekin', 'title': 'Yönetim Kurulu Başkanı ve Yönetici Ortak'},{'name': 'Yalçın Sisa', 'title': 'Yönetim Kurulu Üyesi'},{'name': 'Ahmet Uruç', 'title': 'Kurucu Ortak'},{'name': 'Kerem Mergen', 'title': 'İş Geliştirme Direktörü'},{'name': 'Duygu Alptekin', 'title': 'Pazarlama Direktörü'},{'name': 'Amie Kendall', 'title': 'Dijital Programlar Direktörü'}]
	section.centerfix.fullscreen.dTable.teamDetail
		section.teamDetailSlider
			ul.slides
				each person, i in teams
					- var index = i;
					li
						.imageWrapper(style="background-image: url(" + prefix + "/img/content/team/" + (index+1) + ".jpg)")
							.info
								h1.title.title-third.title-white= person.name
								span.position= person.title

								.social
									a(href="#")
										i.fa.fa-linkedin-square
									a(href="#")
										i.fa.fa-twitter

		section.teamDetailSlider
			.navigation
				a.flex-prev(href="#")
				a.flex-next(href="#")
				a.close(href="takim.html")
			ul.slides
				each person, i in teams
					li
						.cvContent
							h3.title.title-fourth #{person.name}

							if (i == 0)
								include team/alper-aydin
							else if (i == 1)
								include team/mustafa-sandal
							else if (i == 2)
								include team/alpay-alptekin
							else if (i == 3)
								include team/yalcin-sisa
							else if (i == 4)
								include team/ahmet-uruc
							else if (i == 5)
								include team/kerem-mergen
							else if (i == 6)
								include team/duygu-alptekin
							else if (i == 7)
								include team/amie-kendall


block scripts
	script.
		$('.teamDetail').addClass('animate');