extends layout/layout

block head
	- var title = "Yatırım Başvurusu";
	- var description = "Yatırım Başvurusu";
	- var keywords = "Yatırım Başvurusu";

block content

	section.fullscreen.mainSliderWrapper.notOpacity
		.sliderOverlay
		.mainSlider.centerfix
			ul.slides
				li(style="background-image: url(" + prefix + "/img/content/about-us/slide-img.jpg)")
		.content
			h1.pageTitle Fikiron bir girişimcinin en değerli yol arkadaşıdır.
			p Yeteneği ve fikri erken keşfeden Fikiron, ilk günde kurduğu yakınlığı ‘unicorn’ zamanı geldiğinde de hissettirir –


	section.centerfix.applyNow.whiteSection
		.container
			.layoutLeftContent
				h1.title.title-second.title-line-height Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in hendrerit massa, sit amet efficitur metus. Etiam vehicula sem nec dui laoreet sodales. Mauris vel erat nec purus convallis molestie.

			.layoutRightContent
				h2.title.title-second.title-line-height HIZLI GERİ DÖNÜŞE HAZIR OLUN
				form.form
					label
						input(type="text", name="name")
						span Ad Soyad

					label
						input(type="text", name="name")
						span Eposta

					label
						input(type="text", name="name")
						span Telefon

					label.textarea
						textarea(name="name")
						span Mesajınız

					label
						input(type="file", name="file" multiple)
						span
							img(src=prefix + "/img/icon/file-icon.svg")
							| Sunum Dosyası (PDF, WORD)

					button.button.button-primary(type="submit")
						img(src=prefix + "/img/icon-arrow-right-white-small.png")
						| GÖNDER

block scripts
	script.
		$(".form").validate({
			errorLabelContainer: "#messageBox",
			highlight: function (element, errorClass, validClass) {
				$(element)
				.parents("label")
				.addClass("error")
				.removeClass("success");
			},
			unhighlight: function (element, errorClass, validClass) {
				$(element)
				.parents("label")
				.addClass("success")
				.removeClass("error");
			},
			rules: {
				name: "required",
				email: {
					required: true,
					email: true
				},
				phone: "required",
				message: "required",
				file: {
					required: true,
					extension: "pdf|doc|docx"
				}
			},
			submitHandler: function (form) {
				$(form).submit();
			}
		});