p 1972 yılında İstanbul’da doğan Alpay Alptekin, orta öğretimini İstanbul Erkek Lisesi’nde tamamladıktan sonra, Boğaziçi Üniversitesi İşletme Bölümü’nden mezun oldu.

p 1996 yılında Procter&Gamble’da çalışmaya başlayan Alpay Alptekin, Çocuk Bakım Kategorisinde Prima Çocuk Bezi; Ev ve Kumaş Bakım kategorisinde Ariel, Alo, Ace, Mintax, Bonux; Güzellik ve Kozmetik Kategorisinde, Pantene, Head&Shoulders, Blendax, Rejoice ve Koleston markalarında sorumluluk almıştır. Bu görevleri sırasında, Türkiye’deki tecrübelerine ek olarak 104 ülkenin içinde bulunduğu Orta Avrupa, Doğu Avrupa, Ortadoğu, Afrika, Kafkas Bölgeleri’nde pazarlamada üst düzey görevler üstlenmiştir.

p 2010 yılında Turkcell’de Pazarlama İletişiminden Sorumlu Bölüm Başkanı olarak çalışmaya başlayan Alpay Alptekin, Turkcell’in reklam, medya, dijital iletişim ve etkinlik bölümlerini ve Turkcell’e hizmet veren geniş bir ajans faunasını yönetmiştir. Bu süre içerisinde, “Hayat Paylaşınca Güzel”, “Turkcell 4 Çeker”, “Birlikte Her gün Daha İyiye” gibi lansmanların altına imza atmış, Turkcell markasının Türkiye’nin en sevilen markalarından ve en beğenilen şirketlerinden birisi olması konusunda ekibiyle birlikte katkılarda bulunmuştur.

p Turkcell’deki görevinden sonra 2015 yılında Alpay Alptekin&Partners’ı kuran Alpay Alptekin, Türkiye’nin önde gelen reklamverenlerine Pazarlama Stratejileri, Dijital Pazarlama, Mobil Teknolojiler, big data ve diğer yeni nesil pazarlama teknolojileri konularında danışmanlık yaptı.

p Halen, Fikiron Bilişim A.Ş.’de Yönetim Kurulu Başkanı ve CEO olarak görev yapan Alpay Alptekin, Fikiron’un FinTech, Big Data, E-Commerce ve Digital Content alanlarındaki yatırımlarını yönetmektedir.

p Akademik olarak, Sabancı Üniversitesi Pazarlama Yüksek Lisans Programı’nda dersler veren Alpay Alptekin evli ve 1 çocuk babasıdır.

