p Bristol, İngiltere doğumlu Amie, dijitalin ve inovasyonun insanların yaşamlarına ve yaşam yerlerine sağladığı faydalara tutkulu. Fikiron’a katılmadan önce 8,5 senelik Accenture Digital ve Fjord tecrübeleri olan Amie, Avrupa’da ve Orta Doğu’da süren dijital dönüşüm, dijital pazarlama ve e-ticaret alanlarında uzmanlaştı.

p En büyük hayali evi gibi gördüğü ve çok sevdiği Türkiye’de dijitalin ve inovasyonun büyümesine katkı sağlamak olan Amie, Fikiron bünyesinde 1DMP ürününün sorumlu proje lideridir.

