p 1985 yılında doğan Duygu Alptekin, orta öğretimini Burak Bora Anadolu Lisesi’nde tamamladıktan sonra, İstanbul Üniversitesi İngilizce İktisat Bölümü’nden mezun oldu.

p 2008 yılında Enka İnşaat’ta Finansal Yönetim Departmanı’nda Finans Uzmanı olarak çalışmaya başladı.

p Daha sonra kariyerine 2010 yılından itibaren Ford Otomotiv A.Ş’de Pazarlama Bölümünde Pazarlama İletişimi Uzmanı olarak devam etti. Özellikle kampanya yönetimi, ürün fiyatlandırması, pazarlama finansı ve etkinlik yönetimi konularında uzmanlık geliştirdi.

p 2013 yılında İlbak Holding’e geçti ve Pazarlama Departmanında, Müşteri Yönetimi Müdürü görevini üstlendi. İlbak Holding’in Kurumsal İletişim faaliyetlerinin tamamında yer alan Duygu Alptekin dijital iletişim, etkinlik yönetimi, halkla ilişkiler, marka yönetimi gibi alanlarda faaliyet gösterdi.

p 2015 yılında TV8’de Pazarlama Departmanında Reklam Satış Müdürü olarak çalışmaya başladı. Medya planlama, medya satış, fiyatlandırma, müşteri ilişkileri yönetimi gibi alanlarda reklamverenlerle ve Medya Planlama Ajansları ile birlikte çalışmalar yürüttü.

p 2018 Mart’tan itibaren Fikiron’da Pazarlama Direktörü olarak görev yapmaktadır.

