/**
    About us sayfası css
 */

.aboutUs {
    p {
        color: $black;
        opacity: 0.3;
    }

    .layoutLeftContent, .layoutRightContent {
        padding: 70px 0;
    }

    .layoutRightContent {
        @include breakpoint($phablet) {
            text-align: center;
        }
    }
}