/**
    Contact sayfası css
 */

.contactPage {
    padding: 100px 0;
    border-bottom: 1px solid #dadada;;

    .link {
        font-family: $font_second;
        font-size: 18px;
        line-height: 1.11;
        color: $orange;
        margin-top: 20px;
        display: block;
    }

    .title {
        margin-bottom: 20px;
    }

    #map {
        float: right;
        margin: 40px -20% 40px 0;
        @include breakpoint($phablet) {
            width: 100%;
            height: 300px;
            margin-right: 0;
        }
        @include minBreakpoint($phablet) {
            width: 500px;
            height: 473px;
        }
        @include minBreakpoint($tablet) {
            width: 600px;
            height: 573px;
        }

        @include minBreakpoint($small_desktop) {
            width: 800px;
            height: 573px;
        }
    }
}