/*Slider başlangıç*/
.mainSliderWrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0e1e2c;

    .mainSlider {
        height: 100%;
        z-index: 7;
    }

    .sliderOverlay {
        position: absolute;
        pointer-events: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0e1e2c;
        transition: 0.1s;
        opacity: 0;
        -webkit-transform: translateZ(0);
        -webkit-transition: all 400ms ease;
        z-index: 9;
    }

    .content {
        @include center(true, true);
        color: $white;
        z-index: 2;
        text-align: center;
        width: 75%;

        .pageTitle {
            font-size: 48px;
        }

        p {
            color: $white;
        }
    }

    .slides {
        position: relative;
        float: left;
        width: 100%;
        height: 100%;
        opacity: 0.24;

        li {
            position: relative;
            float: left;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;

            &.flex-active-slide {
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 0;
                    height: 100%;
                    -webkit-animation: slide 1.5s; /* Safari 4.0 - 8.0 */
                    animation: slide 1.5s;
                    background: $black;
                    z-index: 1;
                }
            }
        }
    }

    .slideTexts {
        z-index: 8;
        @include center(false, true);
        left: 20%;
        opacity: 0;
        transition: all $animation_easing $animation_speed;
        font-family: $font_primary;
        font-size: 30px;
        font-weight: bold;
        font-stretch: condensed;
        line-height: 1.67;
        letter-spacing: -0.2px;

        @include breakpoint($small_desktop) {
            //left: 15%;
        }
        @include breakpoint($phablet) {
            //left: 12%;
            zoom: 0.6;
        }
        @include breakpoint($mobile) {
            //left: 5%;
        }

        &:before {
            content: "";
            position: absolute;
            right: 135%;
            width: 300%;
            border-bottom: 2px solid $white;
            transition: all $animation_easing $animation_speed;
        }

        &:after {
            content: "FİKİRON,";
            position: absolute;
            right: 105%;
            transition: all $animation_easing $animation_speed;
            color: $orange;
            line-height: 1.1;
            transform: translateY(-16px);
        }

        li {
            display: block;
            opacity: 0;
            color: $white;
            transition: all $animation_easing $animation_speed;
            cursor: pointer;
            transform: translateX(50px);


            @for $i from 1 through 9 {
                &:nth-child(#{$i}) { transition-delay: 0.2s * $i; }
            }
        }
    }
}
.loaded {
    .slideTexts {
        opacity: 1;
        @for $i from 0 through 9 {
            &.slide-#{$i+1} {
                &:before, &:after { top: ($i * 50) + 24px; }
                li:nth-child(#{$i+1}) { opacity: 1; }
            }
        }

        li {
            opacity: 0.3;
            transform: translateX(0px);
            transition-delay: 0s;
        }
    }
}

@-webkit-keyframes slide {
    0% { transform: translateX(0); width: 0; }
    50% { transform: translateX(0); width: 100%;}
    100% { transform: translateX(100%); width: 100%; }
}
@keyframes slide {
    0% { transform: translateX(0); width: 0; }
    50% { transform: translateX(0); width: 100%;}
    100% { transform: translateX(100%); width: 100%; }
}

/*Slider bitiş*/

/*İkinci block başlangıç*/
.manshetBlock {
    background-image: linear-gradient(123deg, #162635, #0a1927);

    .content {
        z-index: 8;
        @include center(false, true);
        left: 20%;
        width: 50%;

        @include breakpoint($small_desktop) {
            left: 15%;
        }
        @include breakpoint($tablet) {
            left: 12%;
        }
        @include breakpoint($mobile) {
            left: 5%;
            width: 90%;
            zoom: 0.7;
        }

        .title {
            margin-bottom: 40px;
            opacity: 0;
            transition: all $animation_easing $animation_speed;
        }

        p {
            font-family: $font_second;
            font-size: 14px;
            letter-spacing: -0.1px;
            text-align: left;
            color: $white;
            margin-bottom: 50px;
            opacity: 0;
            transition: all $animation_easing $animation_speed;
            transition-delay: 0.2s;
        }

        .moreButton {
            display: inline-block;
            width: 34px;
            height: 34px;
            line-height: 36px;
            background-color: $white;
            border-radius: 50%;
            text-align: center;
            font-size: 48px;
            color: $black;
            opacity: 0;
            transition: all $animation_easing $animation_speed;
            transition-delay: 0.4s;
            font-weight: 300;
        }

        .title, p, .moreButton {
            transform: translateY(10px);
        }
    }

    &.animate {
        .title, p, .moreButton {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}
/*İkinci block bitiş*/

.whiteSection {
    background-color: $white;
}

.animate {
    .numberOfWorks {
        opacity: 1;
        transform: translateY(0px);
    }
}

.numberOfWorks {
    position: relative;
    float: left;
    width: 33.3333%;
    padding: 0 10%;
    box-sizing: border-box;
    background-color: $white;
    opacity: 0;
    transition: all $animation_easing $animation_speed;
    transform: translateY(40px);
    min-height: 100vh;

    &:nth-child(2) { transition-delay: 0.2s }
    &:nth-child(3) { transition-delay: 0.4s }
    &:nth-child(4) { transition-delay: 0.6s }
    &:nth-child(5) { transition-delay: 0.8s }
    &:nth-child(6) { transition-delay: 1s }

    @include breakpoint($phablet) {
        width: 100%;
        text-align: center;
        padding: 50px 2%;
        min-height: 33.333333vh;
        display: block;

        .centerBlock {
            position: relative;
            transform: translate(0,0);
            display: block;
        }
    }

    @include breakpoint($phablet) {
        display: block;
    }

    &:not(:last-child) {
        border-right: 1px solid rgba(151, 151, 151, .24);
    }

    .number {
        position: relative;
        display: inline-block;
        font-family: $font_primary;
        font-size: 100px;
        font-weight: bold;
        letter-spacing: -0.6px;
        color: #25313e;
        line-height: 1;
        margin-bottom: 35px;

        @include breakpoint($phablet) {
            margin-bottom: 10px;
        }

        small {
            display: block;
            font-size: 30px;
            letter-spacing: -0.2px;
        }

        .plus {
            position: absolute;
            left: 104%;
            top: 0;
            color: $orange;
            line-height: 0.4;
        }
    }

    p {
        font-family: $font_second;
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: -0.1px;
        color: #0d1d2b;
    }
}

.servicesSection {
    background-color: #0b1a28;

    &.animate {
        .servicesItem {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    .servicesItem {
        padding: 0 2%;
        width: 20%;
        opacity: 0;
        transition: all $animation_easing $animation_speed;
        transform: translateY(40px);

        &:not(:last-child) {
            border-right: 1px solid rgba(255,255,255,0.05);
        }

        &:nth-child(2) { transition-delay: 0.2s }
        &:nth-child(3) { transition-delay: 0.4s }
        &:nth-child(4) { transition-delay: 0.6s }
        &:nth-child(5) { transition-delay: 0.8s }
        &:nth-child(6) { transition-delay: 1s }

        @include breakpoint($small_desktop) {
            width: 100%;
            display: block;
            text-align: center;
            padding: 30px 2%;
        }

        img {
            width: 80px;
            margin-bottom: 35px;
        }

        h3 {
            display: block;
            margin-bottom: 30px;
        }

        p {
            opacity: 0.3;
            font-family: $font_second;
            font-size: 14px;
            line-height: 1.43;
            letter-spacing: -0.1px;
            color: $white;

            @include minBreakpoint($small_desktop) {
                min-height: 300px;
            }
        }
    }
}

/*sliderli blocklar*/
.sectionSlider {
    background-color: #0b1a28;

    &.leftContent {
        .imageBlock {
            float: left;
        }
        .slideContent {
            right: 0;
            width: 100%;
        }

        .flex-active-slide {
            .slideContent {
                width: 50%;
            }
        }
    }

    &.rightContent {
        .imageBlock {
            float: right;
            z-index: 3;
        }
        .slideContent {
            left: 0;
            z-index: 4;
            width: 100%;
        }

        .flex-active-slide {
            .slideContent {
                width: 50%;
            }
        }
    }

    &.darkSlider {
        .slideContent {
            background-color: #0d1c2a;

            @include breakpoint($phablet) {
                width: 100% !important;
                background-color: rgba(13,28,42,0.9);
            }
        }
    }

    .slides, .slides li {
        @include centerfix;
        height: 100vh;
        z-index: 3;
    }

    .slides {
        opacity: 0;
        transition: opacity $animation_easing $animation_speed;
    }

    &.animate {
        .slides, .flex-direction-nav, .flex-control-nav {
            opacity: 1;
        }
    }

    .imageBlock {
        position: relative;
        width: 50%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #0b1a28;
            opacity: 0.3;
        }

        @include breakpoint($phablet) {
            width: 100%;
        }
    }

    .centerBlock {
        @include center(true, true);

        @include breakpoint($phablet) {
            width: 80% !important;
        }

        p {
            color: $white;
        }
    }

    .logo {
        max-width: 80%;
    }

    .flex-active-slide {
        .icon, .title, p, .logo {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .anim {
        opacity: 0;
        transform: translateX(-20px);
        transition: all $animation_easing $animation_speed;

        &-1 { transition-delay: 0.4s; }
        &-2 { transition-delay: 0.6s; }
        &-3 { transition-delay: 0.8s; }
        &-4 { transition-delay: 1s; }
        &-5 { transition-delay: 1.2s; }
    }

    .slideContent {
        position: absolute;
        top: 0;
        height: 100%;
        background-color: $white;
        padding: 0 5%;
        transition: all $animation_easing $animation_speed*2;

        @include breakpoint($phablet) {
            width: 100% !important;
            height: 25vh;
            background-color: transparent !important;
        }

        .icon {
            height: 57px;
            margin-bottom: 50px;
        }

        .title {
            display: block;
            margin-bottom: 25px;
        }
    }

    .flex-direction-nav {
        position: absolute;
        right: 50%;
        bottom: 0;
        width: 158px;
        height: 70px;
        background-color: $black;
        z-index: 4;
        opacity: 0;
        transition: opacity $animation_easing $animation_speed;

        @include breakpoint($phablet) {
            right: 0;
        }

        li {
            float: left;
            width: 50%;
            height: 70px;

            a {
                position: relative;
                display: block;
                width: 100%;
                height: 100%;
                text-indent: -9999px;

                &:before {
                    content: "";
                    @include center(false, true);
                    width: 8px;
                    height: 8px;
                    border-top: 1px solid $white;
                    border-left: 1px solid $white;
                }

                &.flex-prev {
                    &:before {
                        transform: rotate(-45deg);
                        right: 15px;
                    }
                }
                &.flex-next {
                    &:before {
                        transform: rotate(135deg);
                        left: 15px;
                    }
                }
            }
        }
    }

    &.noControlNav {
        .flex-control-nav {
            display: none;
        }
    }

    .flex-control-nav {
        position: absolute;
        left: 10%;
        bottom: 28px;
        z-index: 4;
        opacity: 0;
        transition: opacity $animation_easing $animation_speed;

        li {
            float: left;
            margin-right: 10px;

            a {
                display: block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: $white;
                text-indent: -9999px;

                &.flex-active {
                    background-color: $orange;
                }
            }
        }
    }
}

.ownerSlogans {
    .slideContent {
        @include breakpoint($phablet) {
            top: auto !important;
            bottom: 0;
            padding-bottom: 70px;
            left: 0;
            p {
                color: $white !important;
            }
            .icon {
                margin-bottom: 10px !important;
                height: 30px !important;
            }
        }
    }
}