/**
    Our supports sayfası css
 */

.ourSupportsItem {
    .imageBlock, .itemContent {
        position: relative;
        float: left;
        width: 50%;
        min-height: 100vh;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        @include breakpoint($tablet) {
            width: 100%;
            margin-bottom: 1px;
        }
    }

    .centerBlock {
        @include center(true, true);
        width: 75%;
        text-align: left;
    }

    .itemContent {
        padding: 0 10%;
        background-color: $white;

        @include breakpoint($tablet) {
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(255, 255, 255, 0.9);
            z-index: 9;
        }
    }

}