/**
    Portfolyo sayfası css
 */

.portfolioList {
    background-color: $black;
    perspective: 1500px;

    .portfolioItem {
        position: relative;
        float: left;
        width: 25%;
        height: 420px;
        padding: 0 5%;
        transition: transform 1s;
        transform-style: preserve-3d;
        cursor: pointer;

        @include breakpoint($tablet) {
            width: 50%;
        }

        @include breakpoint($phablet) {
            width: 100%;
        }

        .card__face {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            padding: 0 5%;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
        }

        .card__face--back {
            transform: rotateY(180deg);
            background-color: $white;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;

            .logo {
                top: 0;
                left: 5%;
                transform: translateY(0);
                background-position: bottom center;
            }

            .link, p {
                transition-delay: 0.5s;
                opacity: 1;
            }
        }

        &.is-flipped {
            transform: rotateY(180deg);

            .card__face--front {
                .logo {
                    opacity: 0;
                }
            }
        }

        &.noHover {
            transition: all $animation_easing $animation_speed;
            &:hover {
                background-color: $white;

                .logo {
                    background-position: bottom center;
                }
            }

            @include breakpoint($phablet) {
                background-color: $white;

                .logo {
                    background-position: bottom center;
                }
            }
        }

        .logo {
            @include center(true, true);
            width: 100px;
            height: 100px;
            background-repeat: no-repeat;
            background-position: top center;
            transition: all $animation_speed $animation_easing;
            transition-delay: 0.3s;
        }

        .link, p {
            opacity: 0;
        }

        p {
            @include center(false, true);
            left: 5%;
            right: 5%;
        }

        .link {
            position: absolute;
            bottom: 10%;
            right: 5%;
            font-size: 20px;
            font-weight: bold;
            letter-spacing: -0.1px;
            color: $orange;

            img {
                width: 18px;
                float: right;
            }
        }
    }
}