/**
    Static css
 */

.staticPage {
    padding: 200px 0 100px;
}

.faqList {
    margin: 50px 0;
    border-bottom: 1px solid #e9e9e9;

    dt {
        @include centerfix();
        min-height: 80px;
        text-align: center;
        border-top: 1px solid #e9e9e9;
        cursor: pointer;
        display: table;

        .title {
            display: table-cell;
            vertical-align: middle;
        }

        &:before, &:after {
            content: "";
            @include center(false, true);
            right: 20px;
            width: 18px;
            height: 1px;
            background: $black;
        }

        &:after {
            transform: rotate(90deg);
            transition: all $animation_easing $animation_speed;
        }

        &.active:after {
            opacity: 0;
        }
    }

    dd {
        @include centerfix();
        display: none;
        padding: 40px 0;
    }
}