/*
* Sub orange big manshet css
*/

.subOrangeManshet {
    padding: 90px 0;
    min-height: 260px;
    background-color: $orange;
    color: $white;

    @include breakpoint($phablet) {
        padding: 45px 0;
        min-height: 170px;
    }

    .title {
        margin-bottom: 15px;
    }

    p {
        color: $white;
    }

    .goToPage {
        @include center(false, true);
        right: 0;

        @include breakpoint($phablet) {
            right: 10px;
        }

        img {
            width: 40px;

            @include breakpoint($phablet) {
                width: 30px;
            }
        }
    }

    .container {
        position: relative;
    }
}