/**
    Team list sayfası css
 */

.teamList {
    background-color: #0f1f2d;

    &.animate {
        .teamItem {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    .teamItem {
        position: relative;
        float: left;
        width: 25%;
        transition: all $animation_easing $animation_speed;
        border: 1px solid #0f1f2d;
        opacity: 0;
        transform: translateY(30px);

        @include breakpoint($tablet) {
            width: 50%;
        }

        @for $i from 0 through 12 {
            &:nth-child(#{$i+1}) {
                transition-delay: $i*0.2s;
            }
        }

        img {
            max-width: 100%;
        }

        .info {
            position: absolute;
            left: 10%;
            bottom: 10%;
            z-index: 3;

            .name {
                display: block;
                font-size: 30px;
                color: $white;
                font-weight: 700;
                font-family: $font_primary;
                margin-bottom: 5px;
            }

            .position {
                color: $white;
                font-weight: 300;
                font-family: $font_second;
                font-size: 14px;
                opacity: 0.4;
            }
        }

        &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 187.8px;
            opacity: 0.6;
            background-image: linear-gradient(to bottom, rgba(11, 26, 40, 0.0), #0b1a28);
            z-index: 2;
        }
    }
}