/**
    Team sayfası css
 */

.teamDetail {
    border-top: 105px solid #0f1f2d;

    @include breakpoint($tablet) {
        border-top: 75px solid #0f1f2d;
    }

    &.animate {
        .imageWrapper, .cvContent {
            transform: translateY(0px);
            opacity: 1;
        }
    }

    .teamDetailSlider {
        position: relative;
        float: left;
        width: 50%;

        .slides, .slides li {
            float: left;
            width: 100%;
        }

        &:nth-child(1) {
            @include breakpoint($phablet) {
                width: 100%;
            }
        }

        &:nth-child(2) {
            @include breakpoint($phablet) {
                width: 100%;
            }
        }
    }

    .imageWrapper {
        position: relative;
        float: left;
        width: 100%;
        height: 98vh;
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        transform: translateY(20px);
        transition: all $animation_easing $animation_speed;
        opacity: 0;
        transition-delay: 0.25s;

        .info {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 258px;
            background-image: linear-gradient(183deg, rgba(21, 45, 62, 0.0), #09141d);
            padding: 30px 10%;

            @include breakpoint($phablet) {
                padding: 30px 7%;
            }

            .position {
                display: block;
                opacity: 0.37;
                font-family: $font_second;
                font-size: 18px;
                line-height: 2;
                text-align: left;
                color: $white;
            }

            .social {
                position: absolute;
                right: 10%;
                top: 45px;

                a {
                    display: inline-block;
                    margin: 10px;
                    color: $white;
                    font-size: 24px;
                }
            }
        }
    }

    .cvContent {
        position: relative;
        float: left;
        width: 100%;
        padding: 100px 7% 3%;
        transform: translateY(20px);
        transition: all $animation_easing $animation_speed;
        opacity: 0;
        transition-delay: 0.75s;

        @include breakpoint($phablet) {
            width: 100%;
            z-index: 3;
            background-color: rgba(255,255,255,0.5);
            min-height: 98vh;
        }
    }


    .navigation {
        position: absolute;
        right: 7%;
        top: 30px;
        z-index: 999;

        a {
            position: relative;
            float: left;
            width: 70px;
            height: 70px;
            background-color: #0f1f2d;
            margin-left: 1px;

            &.flex-prev, &.flex-next {
                opacity: 0.1;

                &:before {
                    content: "";
                    position: absolute;
                    left: 50%;
                    margin-left: -6px;
                    top: 50%;
                    margin-top: -6px;
                    width: 13px;
                    height: 13px;
                    border-top: 1px solid $white;
                    border-left: 1px solid $white;
                }
            }

            &.flex-prev:before {
                transform: rotate(-45deg);
            }
            &.flex-next:before {
                transform: rotate(135deg);
            }

            &.close {
                &:before, &:after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin-top: -10px;
                    width: 1px;
                    height: 20px;
                    background-color: $white;
                }

                &:before {
                    transform: rotate(45deg);
                }
                &:after {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}