- var prefix = "public/dist"
<!DOCTYPE html>
html
	head
		block head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		title= title + ' | Fikiron'
		meta(name="description", content=description ? description : "")
		meta(name="keywords", content=keywords ? keywords : "")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
		meta(name="msapplication-TileColor", content="#ffffff")
		meta(name="theme-color", content="#ffffff")
		meta(name="format-detection", content="telephone=no")
		link(rel="shortcut icon", type="image/x-icon", href="assets/dist/img/favicon/favicon.ico")
		// link(rel="apple-touch-icon", href="assets/img/favicon/apple-touch-icon-57x57-precomposed.png")
		// link(rel="apple-touch-icon", sizes="72x72", href="assets/img/favicon/apple-touch-icon-72x72-precomposed.png")
		// link(rel="apple-touch-icon", sizes="114x114", href="assets/img/favicon/apple-touch-icon-114x114-precomposed.png")
		link(rel="stylesheet", href=prefix + "/css/style.css")

	body(class=noPadding ? "clearPadding" : "")
		<!-- Header start here -->
		header(class=isWhitePage ? "darkHeader" : "")
			.container
				a.headerLogo(href="index.html", title="Fikiron")
					if (isWhitePage)
						img(src=prefix+"/img/fikiron-logo.png")
					else
						img(src=prefix+"/img/fikiron-logo-white.png")

				//a.sponsorLink(href="yatirim-basvurusu.html") YATIRIM BAŞVURUSU
					img(src=prefix + "/img/icon-arrow-right-white-small.png")

				a.toggleMenu.megaMenuButton(href="#")
					span
					span
					span

		nav#mainMenu
			ul
				li
					a(href="hakkimizda.html") HAKKIMIZDA
				li
					a(href="portfoy.html") PORTFÖY
				li
					a(href="takim.html") TAKIM
				li
					a(href="girisimciye-kattiklarimiz.html") GİRİŞİMCİYE KATTIKLARIMIZ
				li
					a(href="partnerlerimiz.html") PARTNERLER
				li.showMobile
					a(href="yatirim-basvurusu.html") YATIRIM BAŞVURUSU
				li
					a(href="iletisim.html") İLETİŞİM
				li
					a.social(href="#")
						<i class="fa fa-facebook"></i>
					a.social(href="#")
						<i class="fa fa-twitter"></i>
					a.social(href="#")
						<i class="fa fa-instagram"></i>
			.sponsorWrapper
				.center
					h3.title.title-third YATIRIM BAŞVURUSU
					p Fikrinizi ve işinizi büyütmek istiyorsanız, size değer katmak için hazırız.
					a.link(href="yatirim-basvurusu.html")
						img(src=prefix + "/img/icon-arrow-right-orange-small.png")

		main
			block content

		<!-- Footer start here -->
		footer.centerfix
			.container
				a.footerLink(href="index.html")
					img(src=prefix + "/img/fikiron-logo-gray.png" alt="Fikiron")

				nav.footerMenu
					ul
						li
							a(href="gizlilik-sozlesmesi.html", title="Gizlilik") Gizlilik
						li
							a(href="sss.html", title="Sık Sorulan Sorular") Sık Sorulan Sorular
						li
							a(href="iletisim.html", title="İletişim") İletişim



		script(type="text/javascript", src=prefix + "/js/bundle.js")
		link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
		block scripts