/*
* Footer css
*/
footer {
    padding: 60px 0;
    background-color: $white;

    @include breakpoint($phablet) {
        padding: 30px 0;
        text-align: center;
    }

    .footerLink {
        float: left;

        @include breakpoint($phablet) {
            display: inline-block;
            float: none;
        }

        img {
            max-width: 108px;
        }
    }

    .footerMenu {
        float: right;

        @include breakpoint($phablet) {
            width: 100%;
        }

        ul {
            @include breakpoint($phablet) {
                margin-top: 20px;
            }

            li {
                float: left;
                margin-left: 40px;

                @include breakpoint($phablet) {
                    margin: 0;
                    width: 33.3333%;
                }

                a {
                    font-family: $font_second;
                    font-size: 14px;
                    letter-spacing: -0.1px;
                    color: #b0b0b0;
                }
            }
        }
    }

}