/*
* Header css
*/

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    height: 105px;

    @include breakpoint($tablet) {
        height: 75px;
    }

    &.darkHeader {
        .container:after {
            border-bottom-color: #e9e9e9;
        }
        .toggleMenu {
            span {
                background: $black;
            }
        }
    }

    .container {
        position: relative;
        height: 100%;

        &:after {
            content: "";
            @include center(true, false);
            bottom: 0;
            width: 0;
            height: 0;
            border-bottom: 2px solid rgba(255,255,255,.24);
            transition: all $animation_speed $animation_easing;
        }
    }

    .headerLogo {
        @include center(false, true);
        left: 80px;

        @include breakpoint($tablet) {
            left: 8%;
        }

        img {
            width: 108px;
        }
    }

    .sponsorLink {
        @include center(false, true);
        right: 147px;
        line-height: 60px;
        padding: 0 80px 0 37px;
        background: $orange;
        font-family: $font_primary;
        font-size: 20px;
        font-weight: bold;
        font-stretch: condensed;
        letter-spacing: -0.1px;
        color: $white;
        box-shadow: 1px 2px 0 0 rgba(0, 0, 0, 0.5);
        transition: all $animation_easing $animation_speed;

        @include breakpoint($tablet) {
            display: none;
        }

        img {
            @include center(false, true);
            right: 34px;
            width: 18px;
        }
    }

    .toggleMenu {
        @include center(false, true);
        right: 80px;
        width: 20px;

        @include breakpoint($tablet) {
            right: 8%;
        }

        span {
            display: block;
            width: 100%;
            height: 2px;
            border-radius: 2px;
            background: $white;
            transition: all $animation_easing $animation_speed;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
}

.menuActive {
    .toggleMenu {
        span:nth-child(1),
        span:nth-child(3) {
            transform: translateX(15px);
            opacity: 0;
        }
        span {
            @include minBreakpoint(550px) {
                background: $black;
            }
        }
    }

    .sponsorLink {
        opacity: 0;

    }

    #mainMenu {
        transform: translateY(0%);

        li {
            opacity: 1;
            transform: translateX(0px);

            &:nth-child(1) { transition-delay: 0.1s; }
            &:nth-child(2) { transition-delay: 0.3s; }
            &:nth-child(3) { transition-delay: 0.5s; }
            &:nth-child(4) { transition-delay: 0.7s; }
            &:nth-child(5) { transition-delay: 0.9s; }
            &:nth-child(6) { transition-delay: 1.1s; }
            &:nth-child(7) { transition-delay: 1.3s; }
        }
    }

    .sponsorWrapper {
        .center {
            .title, p, .link {
                transform: translateX(0px) !important;
                opacity: 1 !important;;
            }
            .title { transition-delay: 0.1s !important;; }
            p { transition-delay: 0.3s !important;; }
            .link { transition-delay: 0.5s !important;; }
        }
    }
}

.loaded {
    header .container:after {
        width: 100%;

        @include breakpoint($tablet) {
            width: 94%;
        }
    }
}

#mainMenu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 90;
    background: $orange;
    background-image: linear-gradient(302deg, #ff4b1f, #f06b3b);
    transition: all .4s ease-in-out;
    transform: translateY(-100%);

    ul {
        @include center(false, true);
        left: 20%;
        margin-top: 50px;

        @include breakpoint($small_desktop) {
            left: 10%;
        }

        @include breakpoint($phablet) {
            zoom: 0.7;
            left: 10%;
        }

        li {
            float: left;
            width: 100%;
            margin-bottom: 2vh;
            opacity: 0;
            transform: translateX(20px);
            transition: all $animation_easing $animation_speed;

            &.showMobile {
                display: none;
                @include breakpoint($phablet) {
                    display: block;
                }
            }

            &:last-child {
                margin-top: 3vh;

                .social {
                    font-size: 24px;
                    display: inline-block;
                    margin-right: 25px;

                    @include breakpoint($phablet) {
                        font-size: 18px;
                    }
                }
            }

            a {
                display: block;
                font-family: $font_primary;
                font-size: 48px;
                font-weight: bold;
                font-stretch: condensed;
                letter-spacing: -0.3px;
                color: $white;

                @include breakpoint($phablet) {
                    font-size: 40px;
                }
            }
        }
    }

    .sponsorWrapper {
        position: absolute;
        right: 0;
        top: 0;
        width: 45%;
        height: 100%;
        background-color: $white;

        @include breakpoint(550px) {
            display: none;
        }

        .center {
            @include center(true, true);

            .title, p, .link {
                transition: all $animation_easing $animation_speed;
                transform: translateX(20px);
                opacity: 0;
            }

            p {
                font-size: 11px;
                line-height: 1.82;
                font-family: $font_second;
            }

            .link {
                display: block;
                margin-top: 10%;

                img {
                    width: 26px;
                }
            }
        }
    }
}