/*
* Main css
*/
body {
    &:not(.clearPadding) {
        padding-top: 100vh;
    }
}

main {
    @include centerfix();
    overflow-x: hidden;

    p {
        font-family: $font_second;
        font-size: 14px;
        line-height: 1.86;
        color: #303943;
    }
}

.centerfix {
    @include centerfix();
}

.centerContent {
    @include center(true, true);
}

.fullscreen {
    min-height: 100vh;
}

.dTable {
    display: table;
}

.vMiddle {
    vertical-align: middle;
    display: table-cell;
}

.text-center {
    text-align: center;
}

.layoutLeftContent {
    float: left;
    width: 35%;

    @include breakpoint($phablet) {
        width: 100%;
        min-height: inherit;
    }
}

.layoutRightContent {
    float: left;
    width: 65%;
    padding-left: 15%;

    @include breakpoint($phablet) {
        width: 100%;
        padding-left: 0;
        min-height: inherit;
    }
}

.img-responsive {
    max-width: 100%;
}