/*Button css*/
.button {
	display: inline-block;
	transition: all $animation_speed $animation_easing;
	border: none;
	outline: none;

	&-primary {
		min-width: 230px;
		position: relative;
		height: 60px;
		line-height: 62px;
		padding: 0 80px 0 37px;
		background: $orange;
		font-family: $font_primary;
		font-size: 20px;
		font-weight: bold;
		font-stretch: condensed;
		letter-spacing: -0.1px;
		color: $white;
		box-shadow: 1px 2px 0 0 rgba(0, 0, 0, 0.5);
		transition: all $animation_easing $animation_speed;

		img {
			@include center(false, true);
			right: 34px;
			width: 18px;
		}
	}
}