/*Custom checkbox and radio css*/
.checkbox-label {
	line-height: 30px;
}
.checkbox {
	position: relative;
	float: left;
	width: 30px;
	height: 30px;
	border: 1px solid #cdcdcd;
	background-color: #fff;
    box-shadow: inset 0 1px 5px rgba(0,0,0,.25);

	input{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		margin: 0;
    	cursor: pointer;

		&:checked + span {
			display: block;
		}
	}
	span {
		display: inline-block;
		margin: 10px 8px;
		width: 14px;
		height: 10px;
		border-radius: 2px;
		display: none;
		background: url('/assets/dist/img/content/icon-checkbox.png');
	}
}

/*Custom select*/
$height: 40px;

.select {
	position: relative;
	float: left;
	width: 150px;
	height: $height;
	border: 1px solid #ccc;

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		margin-top: -3px;
		right: 15px;
		border: 6px solid;
		border-color: #000 transparent transparent;
		z-index: -1;
	}
	  
	&.open:after{
		border-color: transparent transparent #000;
		margin-top: -10px;
	}

	select {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;

		option {
			font-size: 16px;
			color: #000;
			padding: 10px 5px;
		}
	}

	&::before {
		content: attr(value);
		display: block;
		width: 100%;
		line-height: $height;
		padding: 0 10px;
		font-size: 14px;
	}
}