
/* 
*	Font Family
*/

$font1Folder: '../fonts/heroic/';
$font2Folder: '../font/FetteEngschrift/';

@font-face {
  font-family: 'Heroic';
  src: url('#{$font1Folder}HeroicCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$font1Folder}HeroicCondensed-Bold.otf')  format('opentype'),
        url('#{$font1Folder}HeroicCondensed-Bold.woff') format('woff'),
        url('#{$font1Folder}HeroicCondensed-Bold.ttf')  format('truetype'),
        url('#{$font1Folder}HeroicCondensed-Bold.svg#HeroicCondensed-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Heroic';
  src: url('#{$font1Folder}HeroicCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('#{$font1Folder}HeroicCondensed-Medium.otf')  format('opentype'),
        url('#{$font1Folder}HeroicCondensed-Medium.woff') format('woff'),
        url('#{$font1Folder}HeroicCondensed-Medium.ttf')  format('truetype'),
        url('#{$font1Folder}HeroicCondensed-Medium.svg#HeroicCondensed-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}