/**
* Genel form css
 */

.form {
    display: block;

    label {
        position: relative;
        display: block;
        width: 100%;
        border-bottom: 1px solid #dfdfdf;
        padding-bottom: 5px;
        margin-bottom: 15px;

        &.error {
            border-bottom: 1px solid red;
        }

        input, textarea {
            border: none;
            outline: none;
            height: 35px;
            width: 100%;
            font-size: 14px;
            color: #303943;
            font-family: $font_second;
            padding: 0;

            &:focus + span {
                transform: translateY(-15px) scale(0.7);
            }

            & + label.error {
                display: none !important;
            }
        }

        textarea {
            height: 120px;
            resize: none;
            line-height: 40px;
        }

        input[type="file"] {
            opacity: 0;
        }

        &.success {
            span {
                transform: translateY(-15px) scale(0.7);
            }
        }

        span {
            position: absolute;
            left: 0;
            top: 0;
            line-height: 35px;
            font-size: 14px;
            color: #303943;
            font-family: $font_second;
            transform-origin: 0;
            transition: all $animation_speed $animation_easing;

            img {
                margin-right: 10px;
            }
        }

        &.textarea {
            &:before, &:after {
                content: "";
                position: absolute;
                line-height: 33px;
                width: 100%;
                left: 0;
                top: 40px;
                border-bottom: 1px solid #dfdfdf;
            }
            &:after {
                top: 83px;
            }

            &.error:before, &.error:after {
                border-bottom-color: red;
            }
        }
    }

    .button {
        margin-top: 40px;
    }
}