@charset "utf-8";
@import "variable";
/*HTML5 display definitions*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; }
canvas { -ms-touch-action: double-tap-zoom; }
* { -webkit-touch-callout: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
/*Base*/
html { width: 100%; height: 100%; font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-shadow: 0 0 1px rgba(0,0,0,0.004); }
html, button, input, select, textarea { font-family: $input_font; color: #333; }
body { margin: 0; font-size: 62.5%; line-height: 1.28; font-family: $font_primary; letter-spacing: 0.0006em; width: 100%; height: 100%; }
/*Selection*/
/*::-moz-selection { background: #4f7585; color: #fff; text-shadow: none; border: none !important; outline:none !important; }
::selection { background: #4f7585; color: #fff; text-shadow: none; border: none !important; outline:none !important; }*/
/*Links*/
a { color: $default_link_color; cursor: pointer; text-decoration: none; }
a:focus { outline:none !important; }
a:hover, a:active { outline: 0; }
/*Typography*/
h1, h2, h3, h4, h5, h6, p { margin:0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
/*Lists*/
ul, ol { margin: 0;	padding: 0; list-style-image: none; list-style-type: none; }
dd { margin: 0; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
/*Embedded content*/
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
/*Figures*/
figure { margin: 0; }
/*Forms*/
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; border: 1px solid #cdcdcd; }
input, textarea { padding: 3px; }
select { padding-left: 5px; }
button, input { line-height: normal; -webkit-appearance: none; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; -moz-appearance: button; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
/*input:valid, textarea:valid { background-color: #79ff82; }
input:invalid, textarea:invalid { background-color: #f0dddd; }*/
input::-webkit-input-placeholder { color: #fff !important; }
input:-moz-placeholder { color: #fff !important; }
input::-moz-placeholder { color: #fff !important; }
input:-ms-input-placeholder { color: #fff !important; }
textarea::-webkit-input-placeholder { color: #fff !important; }
textarea:-moz-placeholder { color: #fff !important; }
textarea::-moz-placeholder { color: #fff !important; }
textarea:-ms-input-placeholder { color: #fff !important; }
.placeholder { color: #fff !important; }
/*Tables*/
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* ==|== non-semantic helper classes ============================================
	Define your styles before this section.
	========================================================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
/*Non Select*/
.noselect { -moz-user-select: none; -webkit-touch-callout: none; -webkit-user-select: none; -ms-user-select: none; -o-user-select: none; -khtml-user-select: none; }