/*Title css*/
.title {
	display: inline-block;

	&-primary {
		font-family: $font_primary;
		font-size: 30px;
		font-weight: bold;
		font-stretch: condensed;
		line-height: 1.67;
		letter-spacing: -0.2px;
		color: $white;
		text-transform: uppercase;

		span {
			letter-spacing: -0.1px;
			color: #ff5f1f;
		}
	}

	&-second {
		font-family: $font_primary;
		font-size: 30px;
		font-weight: bold;
		font-stretch: condensed;
		line-height: 1.67;
		letter-spacing: -0.2px;
		color: #303943;
		text-transform: uppercase;

		span {
			letter-spacing: -0.1px;
			color: #ff5f1f;
		}
	}

	&-third {
		font-family: $font_primary;
		font-size: 48px;
		font-weight: bold;
		font-stretch: condensed;
		line-height: 1.67;
		letter-spacing: -0.2px;
		color: $orange;
	}

	&-fourth {
		font-family: $font_primary;
		font-size: 24px;
		font-weight: bold;
		font-stretch: condensed;
		line-height: 3.33;
		letter-spacing: -0.2px;
		color: #5d717d;
	}

	&-white {
		color: $white
	}

	&-black {
		color: #313a44;
	}

	&-line-height {
		line-height: 1.1;
	}

	&-no-upper {
		text-transform: none;
	}
}