/*
* Font global variable
*/
$Heroic: 'Heroic';
$HelveticaNeue: 'HelveticaNeue';

$font_primary: $Heroic;
$font_second: $HelveticaNeue;

/*
* Color global variable
*/
$black 						: #000;
$white						: #fff;
$orange                     : #ff5f1f;

/*Reset.scss'teki a color */
$default_link_color: #759cb1;

/*Reset.scss'teki Input font*/
$input_font: $HelveticaNeue;

/*
* 	Font size global variable
*/
$font_size_xxl		: 48px;
$font_size_xl		: 36px;
$font_size_l 		: 24px;
$font_size_m 		: 18px; 
$font_size_s 		: 16px;
$font_size_xs 		: 12px;

/*
* Media query size variable
*/
$small_desktop	: 1170px; 
$tablet			: 990px;
$phablet		: 767px;
$mobile			: 480px;

/*
* Animate delay
*/
$animation_speed: .5s;
$animation_easing: ease;